
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-502691833596347424.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-502691833596347424.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-502691833596347424.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-502691833596347424.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-502691833596347424.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-502691833596347424.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-502691833596347424.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-502691833596347424.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-502691833596347424.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-502691833596347424.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-502691833596347424.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-502691833596347424.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-502691833596347424.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-502691833596347424.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-502691833596347424.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-502691833596347424.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-502691833596347424.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-502691833596347424.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-502691833596347424.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-502691833596347424.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-502691833596347424.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-502691833596347424.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-502691833596347424.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-502691833596347424.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-502691833596347424.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-502691833596347424.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-502691833596347424.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-502691833596347424.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-502691833596347424.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-502691833596347424.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-502691833596347424.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-502691833596347424.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-502691833596347424.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-502691833596347424.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-502691833596347424.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-502691833596347424.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-502691833596347424.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-502691833596347424.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-502691833596347424.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-502691833596347424.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-502691833596347424.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-502691833596347424.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-502691833596347424.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-502691833596347424.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-502691833596347424.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-502691833596347424.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-502691833596347424.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-502691833596347424.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-502691833596347424.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-502691833596347424.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-502691833596347424.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-502691833596347424.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-502691833596347424.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-502691833596347424.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-502691833596347424.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-502691833596347424.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-502691833596347424.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-502691833596347424.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-502691833596347424.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-502691833596347424.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-502691833596347424.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-502691833596347424.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-502691833596347424.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-502691833596347424.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-502691833596347424.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-502691833596347424.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-502691833596347424.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-502691833596347424.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-502691833596347424.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-502691833596347424.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-502691833596347424.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-502691833596347424.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-502691833596347424.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-502691833596347424 .gp-invisible{visibility:hidden}.gps-502691833596347424 .gp-absolute{position:absolute}.gps-502691833596347424 .gp-relative{position:relative}.gps-502691833596347424 .gp-inset-0{inset:0}.gps-502691833596347424 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-502691833596347424 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-502691833596347424 .-gp-z-1{z-index:-1}.gps-502691833596347424 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-502691833596347424 .gp-mb-0{margin-bottom:0}.gps-502691833596347424 .gp-inline-block{display:inline-block}.gps-502691833596347424 .gp-flex{display:flex}.gps-502691833596347424 .gp-inline-flex{display:inline-flex}.gps-502691833596347424 .gp-grid{display:grid}.gps-502691833596347424 .\!gp-hidden{display:none!important}.gps-502691833596347424 .gp-hidden{display:none}.gps-502691833596347424 .gp-h-auto{height:auto}.gps-502691833596347424 .gp-h-full{height:100%}.gps-502691833596347424 .gp-w-full{width:100%}.gps-502691833596347424 .gp-max-w-full{max-width:100%}.gps-502691833596347424 .gp-flex-none{flex:none}.gps-502691833596347424 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-502691833596347424 .gp-flex-col{flex-direction:column}.gps-502691833596347424 .\!gp-content-stretch{align-content:stretch!important}.gps-502691833596347424 .gp-items-center{align-items:center}.gps-502691833596347424 .gp-justify-center{justify-content:center}.gps-502691833596347424 .gp-self-center{align-self:center}.gps-502691833596347424 .gp-overflow-hidden{overflow:hidden}.gps-502691833596347424 .gp-break-words{overflow-wrap:break-word}.gps-502691833596347424 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-502691833596347424 .gp-no-underline{text-decoration-line:none}.gps-502691833596347424 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-502691833596347424 .gp-duration-200{transition-duration:.2s}.gps-502691833596347424 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-502691833596347424 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-502691833596347424 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-502691833596347424 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-502691833596347424 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-502691833596347424 .tablet\:\!gp-relative{position:relative!important}.gps-502691833596347424 .tablet\:\!gp-hidden{display:none!important}.gps-502691833596347424 .tablet\:gp-hidden{display:none}.gps-502691833596347424 .tablet\:gp-h-auto{height:auto}.gps-502691833596347424 .tablet\:gp-flex-none{flex:none}.gps-502691833596347424 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-502691833596347424 .tablet\:gp-justify-center{justify-content:center}}@media (max-width:767px){.gps-502691833596347424 .mobile\:\!gp-relative{position:relative!important}.gps-502691833596347424 .mobile\:\!gp-hidden{display:none!important}.gps-502691833596347424 .mobile\:gp-hidden{display:none}.gps-502691833596347424 .mobile\:\!gp-h-auto{height:auto!important}.gps-502691833596347424 .mobile\:gp-h-auto{height:auto}.gps-502691833596347424 .mobile\:gp-flex-none{flex:none}.gps-502691833596347424 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-502691833596347424 .mobile\:gp-justify-center{justify-content:center}}.gps-502691833596347424 .\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}@media (max-width:1024px){.gps-502691833596347424 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-502691833596347424 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-502691833596347424 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-502691833596347424 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk79FN_C-b8&skey=c397ded15edc0853&v=v20) format('woff');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4jE9_C-b8&skey=c397ded15edc0853&v=v20) format('woff');
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk4aE9_C-b8&skey=c397ded15edc0853&v=v20) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v20/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v20/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v20/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v20/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v20/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v20/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v20/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v20/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v20/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v20/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v20/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v20/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v20/xn7gYHE41ni1AdIRggqxSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v20/xn7gYHE41ni1AdIRggOxSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v20/xn7gYHE41ni1AdIRggSxSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v20/xn7gYHE41ni1AdIRggixSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v20/xn7gYHE41ni1AdIRggmxSvfedN62Zw.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/manrope/v20/xn7gYHE41ni1AdIRggexSvfedN4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gpLzZUQkdF"}' data-id="gpLzZUQkdF" id="gpLzZUQkdF" data-same-height-subgrid-container class="gpLzZUQkdF gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--pt-tablet:0px;--pb-tablet:0px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gpVP3OgmiT gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="go4d52Pboc"
        class="go4d52Pboc gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":740,"src":"{{ section.settings.ggo4d52Pboc_background_desktop_image_src }}","width":1440},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":740,"src":"{{ section.settings.ggo4d52Pboc_background_desktop_image_src }}","width":1440},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":740,"src":"{{ section.settings.ggo4d52Pboc_background_desktop_image_src }}","width":1440},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"go4d52Pboc","speedParallax":0,"hoverEffect":false,"hoverEffectScale":1.1,"layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"sizeSetting":{"desktop":{"height":"auto","shape":"custom","shapeLinked":false,"width":"100%"},"tablet":{"height":"auto","shape":"custom","shapeLinked":false,"width":"100%"},"mobile":{"height":"auto","shape":"custom","shapeLinked":false,"width":"100%"}},"videoObjectFit":{},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--bgc:var(--g-c-bg-2)">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ section.settings.ggo4d52Pboc_background_desktop_image_src }});--bgi-tablet:url({{ section.settings.ggo4d52Pboc_background_desktop_image_src }});--bgi-mobile:url({{ section.settings.ggo4d52Pboc_background_desktop_image_src }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:1.1%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
          
        </div>
        <div aria-label="Overlay" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)]" style="--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{"background":{}}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-center tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMhTehMPYh gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g8RvkNrYaZ"}' data-id="g8RvkNrYaZ" id="g8RvkNrYaZ" data-same-height-subgrid-container class="g8RvkNrYaZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mt:118px;--mb:72px;--pl:15px;--pr:15px;--mt-tablet:118px;--mb-tablet:63px;--pl-tablet:15px;--pr-tablet:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:730px;--w-tablet:730px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ghrGXImHyy gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gypHIsZKn6"
        class="gypHIsZKn6"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--size:21px;--size-tablet:21px;--size-mobile:19px;--tt:uppercase;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggypHIsZKn6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8gUQeM8hQ"
        class="g8gUQeM8hQ"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-heading, heading);--weight:600;--size:51px;--size-tablet:51px;--size-mobile:44px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8gUQeM8hQ_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glZ2VY_mRS"
        class="glZ2VY_mRS"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--pl:50px;--pr:50px;--pl-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglZ2VY_mRS_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(undefined);--ta:center" >
        <style>[data-id="gkUk-gzbFI"].gp-button-base::before, [data-id="gkUk-gzbFI-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    
    
  
    }
  
      
  [data-id="gkUk-gzbFI"]:hover::before, [data-id="gkUk-gzbFI-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gkUk-gzbFI" dataId="gkUk-gzbFI" data-state="idle" aria-label="DISCOVER NOW"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:12px;--pb-mobile:12px;--bgi:;--fs:normal;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px"
          class="gkUk-gzbFI gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Manrope, 'Manrope'), var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggkUk-gzbFI_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    <div
      role="presentation"
      data-id="gCNC6G7xXW"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1777668833335 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gCNC6G7xXW"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      alt="{{ section.settings.ggCNC6G7xXW_alt }}" title="{{ section.settings.ggCNC6G7xXW_title }}" width="1455" height="456" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="https://ucarecdn.com/b0ba03a3-60cb-46f9-97c1-49a090c17422/-/format/auto/-/preview/3000x3000/-/quality/lighter/22.png" isNotLazyload="true" srcset base-src="https://ucarecdn.com/b0ba03a3-60cb-46f9-97c1-49a090c17422/-/format/auto/-/preview/3000x3000/-/quality/lighter/22.png" loading="lazy"
      id=""
      style="--w:970px;--w-tablet:970px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none);--aspect:1455/456;--aspect-tablet:1455/456;--aspect-mobile:1455/456;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    <div
      role="presentation"
      data-id="gGpXy1M8FD"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1777668833336 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gGpXy1M8FD"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      alt="{{ section.settings.ggGpXy1M8FD_alt }}" title="{{ section.settings.ggGpXy1M8FD_title }}" width="690" height="486" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="https://ucarecdn.com/1f02878b-28a2-496e-9b38-cf132c72d416/-/format/auto/-/preview/3000x3000/-/quality/lighter/23.png" isNotLazyload="true" srcset base-src="https://ucarecdn.com/1f02878b-28a2-496e-9b38-cf132c72d416/-/format/auto/-/preview/3000x3000/-/quality/lighter/23.png" loading="lazy"
      id=""
      style="--w:970px;--w-tablet:970px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none);--aspect:690/486;--aspect-tablet:690/486;--aspect-mobile:690/486;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggo4d52Pboc_background_desktop_image_src }}" srcset="{{ section.settings.ggo4d52Pboc_background_desktop_image_src }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggo4d52Pboc_background_desktop_image_src }}" srcset="{{ section.settings.ggo4d52Pboc_background_desktop_image_src }}" />
    
      
      <img
        loading="eager" fetchpriority="high" title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ section.settings.ggo4d52Pboc_background_desktop_image_src }}" data-src="{{ section.settings.ggo4d52Pboc_background_desktop_image_src }}"
        alt=""
        width="100%"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-502691833596347424 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/langify-testing-prod/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=502691831851516960&sectionId=502691833596347424)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggo4d52Pboc_background_desktop_image_src","label":"ggo4d52Pboc_background_desktop_image_src","default":"https://ucarecdn.com/ae390140-8ca6-48e8-9686-c75a2d240170/bn.svg"},{"type":"html","id":"ggypHIsZKn6_text","label":"ggypHIsZKn6_text","default":"<p>THE HOMETOWN SIGNATURE COLLECTION</p>"},{"type":"html","id":"gg8gUQeM8hQ_text","label":"gg8gUQeM8hQ_text","default":"<p>Make Difference, Live Classy</p>"},{"type":"html","id":"gglZ2VY_mRS_text","label":"gglZ2VY_mRS_text","default":"<p>A beautiful vintage watch with sapphires, crystals, elegant details and exquisite movements backed by a decades-long warranty.</p>"},{"type":"html","id":"ggkUk-gzbFI_label","label":"ggkUk-gzbFI_label","default":"DISCOVER NOW"},{"type":"html","id":"ggCNC6G7xXW_srcSet_desktop_src","label":"ggCNC6G7xXW_srcSet_desktop_src","default":"https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"},{"type":"html","id":"ggCNC6G7xXW_alt","label":"ggCNC6G7xXW_alt","default":"Alt Image"},{"type":"html","id":"ggCNC6G7xXW_title","label":"ggCNC6G7xXW_title","default":"Image Title"},{"type":"html","id":"ggGpXy1M8FD_srcSet_desktop_src","label":"ggGpXy1M8FD_srcSet_desktop_src","default":"https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"},{"type":"html","id":"ggGpXy1M8FD_alt","label":"ggGpXy1M8FD_alt","default":"Alt Image"},{"type":"html","id":"ggGpXy1M8FD_title","label":"ggGpXy1M8FD_title","default":"Image Title"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}